
<div class="example-container mat-elevation-z8">
  <div class="aligner">
      <mat-toolbar > 
          <span>Vivek's Application</span>
      </mat-toolbar> 
  
    
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- distance Column -->
    <ng-container matColumnDef="distance">
      <mat-header-cell *matHeaderCellDef mat-sort-header> distance </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.distance}} </mat-cell>
    </ng-container>

    <!-- rate Column -->
    <ng-container matColumnDef="rate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> rate </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rate}} </mat-cell>
    </ng-container>

    <!-- project_size Column -->
    <ng-container matColumnDef="project_size">
      <mat-header-cell *matHeaderCellDef mat-sort-header> project_size </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.project_size}} </mat-cell>
    </ng-container>

    <!-- completion_date Column -->
    <ng-container matColumnDef="completion_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> completion_date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.completion_date}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  </div>
</div>